
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: 'Poppins',sans-serif;
        }
        .container{
            width: 1200px;
            margin: 0 auto;
        }
        .slick-slide{
            width: auto !important;
        }
        header{
            padding: 5px 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav-logo{
            width: 40px;
            height: 40px;
            /* background-color: red; */
            margin: 0 20px;
        }
        .nav-logo img{
            width: 100%;
            height: 100%;
        }
        .search--icon{
              display: none;
          }
        form{
            border-radius: 5px;
            background-color: #f5f7fa;
            display: flex;
            justify-content: center;
            min-width: 400px;
            align-items: center;
        }
        form p{
            width: 16px;
            height: 16px;
            background-color: #666;
            padding: 10px 15px;
            margin: 0 10px;
        }
        form input{
            border: none;
            width: 100%;
            background-color: transparent;
            padding: 10px 15px;
            color: #666;
            font-size: 14px;
            outline: none;
        }
        nav section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        nav section ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }
    nav li{
        padding: 10px;
        list-style: none;
        font-size: 15px;
    }
    nav li a{
        text-decoration: none;
        color: #2c3e50;
    }
    nav li a:hover{
        color: #ff6050;
    }
    .sign--in{
        border-left: 1px solid rgba(102, 102, 102, 0.438);
        padding: 0 20px;
    }
    .banner h2{
        margin-top: 100px;
        font-size: 72px;
        line-height: 85px;
        font-weight: 700;
    }
    .banner{
        margin-bottom: 60px;
    }
    .usage{
        display: flex;
        margin-bottom: 40px;
    }
    .usage h3{
        font-weight: 500;
        color: #ff6050;
     
    }
    .img--div{
        width: 60px;
        height: 55px;
    }
    .img--div img{
        width: 100%;
        height: 100%;
    }
    .usage p{
        font-size: 14px;
        text-transform: capitalize;
    }
    .usage aside{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 25px;
    }
    .usage aside div:nth-child(2){
        margin-left: 10px;
    }
    .customer--stories{
        margin-bottom: 20px;
        display: flex;
        height: 341px;
        overflow-y: hidden !important;
    }
    .customer--stories .card{
        cursor: pointer;
        height: 340px !important;
        width: 265px !important;
        background-size: 268px;
        display: flex !important;
        align-items: flex-end;
        padding: 10px 15px;
        margin: 0 20px;
        border-radius: 20px;
    }
    .customer--stories .card:hover{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
        transform: translateY(-3px);
    }
    .customer--stories .card aside{
        width: 100%;
    }
    .customer--stories .spotify{
        background-image: url('https://assets-global.website-files.com/5c5b0a009abbac199b244792/6048fc03df2a8e492b551ba2_Spotifyquarter-spotify-card-min.png');

    }
    .customer--stories .instagram{
        background-image: url('https://assets-global.website-files.com/5c5b0a009abbac199b244792/6048fc1bb3e2c30a20723601_Card-insta-quarter-min.png');
    }
    .customer--stories .music{
        background-image: url('https://assets-global.website-files.com/5c5b0a009abbac199b244792/6048fc1b559609ad1e835bae_Card-apple-quarter-min.png');
    }
    .customer--stories .vevo{
        background-image: url('https://assets-global.website-files.com/5c5b0a009abbac199b244792/6049d70ce73b4cee8939e071_Card-min.png');
    }
    .customer--stories p{
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .customer-logo--div{
        width: 130px;
    }
    .customer-logo--div img{
        width: 100%;
    }
    .see--more{
        text-align: center;
        margin: 30px 0;
    }
    .see--more a{
        text-decoration: none;
        background-color: #f5f5f5;
        text-align: center;
        padding:15px 25px ;
        color: #000;
        border-radius: 12px;
        display: inline-block;
    }
    .brand--text{
        font-size: 23px;
        margin: 30px 0;
        font-weight: 300;
    }
    .brands{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .brand--img{
        margin: 0 10px;
        width: 165px;
        height: 70px;
    }
    .brand--img img{
        width: 100%;
        height: 100%;
    }
    .making--music h3{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin: 70px 0;
    }
    @media screen and (max-width:1134px){
            .container{
            width: 1000px;
            margin: 0 auto;
        }
        nav form{
            min-width: 250px;
           
        }
        .nav-logo{
            margin: 0 5px;
        }
        .usage p{
            font-size: 12px;
        }
        .banner h2{
            font-size: 48px;
            line-height: 50px;
        }
        .usage aside{
            margin-right: 5px;
        }
        .customer--stories .card{
            background-position: center;
        }
    }
    @media screen and (max-width:1030px){
        .customer-slider{
            background-color: transparent;
        }
    }
    @media screen and (max-width:1000px){
            .container{
            width: 750px;
            margin: 0 auto;
            padding: 5px 10px;
        }
        .usage aside{
            width: 245px;
        }
       .li--item{
           display: none;
       }
       .sign--in{
           border: none;
       }
       .img--div{
        width: 75px;
        height: 50px;
    }
    }
    @media screen and (max-width:740px){
        .usage{display: block;}
        .usage aside{
            background-color: #ffeded;
            margin: 15px 0;
            border-radius: 16px;
            width: auto;
            padding: 5px 0;
            overflow: hidden;
        }
        .img--div{
            width:50px;
            background-color: #ffeded;
          
            height: 50px;
            border: none;
        }
        .img--div img{
            position: relative;
        }
        .usage aside h3+p{
            display: none;
        }
}
    @media screen and (max-width:700px){
            .container{
          width: auto;
        }
        form p{
            display: none;
        }
        /* .customer--stories .card{
            margin: 0 auto;
        } */
    }
    @media screen and (max-width:490px){
            .container{
          width: auto;
        }
        nav form{
            min-width: 220px;
            width: 200px;
        }
        form input{
            padding: 10px 5px;
        }
        .brands{
            justify-content: space-between;
        }
        .brand--img{width: 100px;
        height: 35px;}
        .making--music h3{
            font-size: 30px;
            margin-top: 30px;
        }
    }
    @media screen and (max-width:440px){
        .banner h2{
            font-size: 32px;
            line-height: 35px;
            margin-top: 30px;
        }
       
        .brand--text{
            font-size: 20px;
        }
        .banner{
            margin-bottom: 30px;
        }
          .nav--items{
              display: none;
          }
          .container{
              padding: 0 20px;
          }
          .search--icon{
              display: block;
              width: 16px;
            height: 20px;
            background-color: #666;
            padding: 10px 15px;
            margin: 0 10px;
          }
    }
    @media screen and (max-width:400px){
        .brand--img{
            width: 80px;
            height: 35px;}
    }
